
@import url(home.css/cabecalho.css);
@import url(home.css/rodape.css);
@import url(home.css/index.css);
@import url(home.css/contato.css);
@import url(home.css/whatsapp.css);
@import url(home.css/section1.css);
@import url(home.css/section2.css);

:root {
    --cor-fundo-pagina: #E5E0D8;
    --elementos-destaque: #809671;      /* botoes links entre outros */
    --barra-navegacao-rodape: #725C3A;
    --texto-principal: #725C3A;
    --cabecalho-titulos: #B3B792;
}

body {

    margin: 0 auto;
    background-color: var(--cor-fundo-pagina);
}