
@import url(home.css/cabecalho.css);
@import url(home.css/rodape.css);

:root {
    --cor-fundo-pagina: #dde1eb;     /* Isso são variaveris de CSS*/
    --cor-fonte-pagina: #031120;
    --cor-fonte-horario: white;

    
    --cor-cabecalho-rodape: #f8f8f8;
    --cor-cabecalho-horario: black;
    --cor-detalhes: #F9F7F7;
}


body {
    
    margin: 0 auto;
    
    background-color: var(--cor-fundo-pagina);

}