header{
    width: 100%;
    background-color: #7575d6;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 20px 0;
}
.logo-texto{
    margin-left: 20px;
    color: white;
    
}
.logo-texto a{
    text-decoration: none;
    color:white;
}

.menu li{
    display: inline-block;
    margin: 0 10px;
}
.menu li a{
    font-size: 13px;
    text-decoration: none;
    color:white;
    text-transform: uppercase;
    padding: 10px 15px;
    border-radius: 15px;
}
.menu li a:hover{
    background-color: rgba(100, 100, 100, 0.5);
}
main{
    width: auto;
    height: 600px;
}
footer{
    background-color:#7575d6;
    width: auto;
    height: auto;
}