.cabecalho{
    margin: 0;
    height: 100vh;
    background-image: url('/imgs/img1_cabecalho.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    position: relative;
    box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.2);
    
}

.cabecalho .overlay{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 1;    
}

.texto_sobre-img {
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #fff;
    text-align: center;
    z-index: 2;
    border-radius: 8px;
    line-height: 9rem;
}

.titulo_header {
    font-size: 7rem;
}

.texto_header {
    font-size: 2.5rem;
}





/*
.cabecalho_conteudo {
    max-width: 1200px;
    margin: auto;
    padding: 1.85rem 2rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.cabecalho_titulo {
    font-size: 1.5rem;
    text-decoration: none;
    color: var(--cor-fonte-pagina);
}

.cabecalho_menu_item {
    margin: 1.4rem;
    font-size: 1.5rem;
    text-decoration: none;
    color: var(--cor-fonte-pagina);
}

.cabecalho_horario {
    padding: .85rem;
    border-radius: 30px;
    border: 2.5px solid;
    border-color: black;
    font-size: 1.5rem;
    font-weight: 600;
    text-decoration: none;
    color: black;

}

.cabecalho_horario:hover {
    background-color: #669DB1;
    border-color: white;
    box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.2); /* SOMBRA */
   /* transition: 400ms;
    color: floralwhite;
} */