.cabecalho{
    /*background-color: var(--cor-cabecalho-rodape);*/
    background: linear-gradient(135deg, #99dafa 50%, #d5eefa 100%);
    box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.2);
    
}

.cabecalho_conteudo {
    max-width: 1200px;
    margin: auto;
    padding: 1.85rem 2rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.cabecalho_titulo {
    font-size: 1.5rem;
    text-decoration: none;
    color: var(--cor-fonte-pagina);
}

.cabecalho_menu_item {
    margin: 1.4rem;
    font-size: 1.5rem;
    text-decoration: none;
    color: var(--cor-fonte-pagina);
}

.cabecalho_horario {
    padding: .85rem;
    border-radius: 30px;
    border: 2.5px solid;
    border-color: black;
    font-size: 1.5rem;
    font-weight: 600;
    text-decoration: none;
    color: black;

}

.cabecalho_horario:hover {
    background-color: #669DB1;
    border-color: white;
    box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.2); /* SOMBRA */
    transition: 400ms;
    color: floralwhite;
}