main{
    max-width: 1040px;
    margin: auto;
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
    background-color: #e8ecf5;
    
}

.titulo_pagina{
    margin: 20px 0 20px 0;
    color: #142b47;
    font-size: 26px;
}

.container_main{
    display: flex;
    flex-direction: column;
}

.formulario{
    background-color: #e1e1f8;
    padding: 1rem;
    border-radius: 15px;
}

.container_buscar, .container_buscar2{
    margin-bottom: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.form_select {
    width: 100%;
    display: flex;
    flex-direction: column;
}

.form_select input, select, textarea {
    border-color: #3F72AF;
    border-radius: .375rem;
    border-width: 2px;
    margin-top: .25rem;
    padding: .5rem;
    font-size: 22px;
    color: #142b47;
    background-color: #e8ecf5;
}

.form_select2 {
    width: 100%;
    display: flex;
    flex-direction: column;
    
}
 
.campo_busca{
    border-color: #3F72AF;
    border-radius: .375rem;
    border-width: 2px;
    margin-top: .25rem;
    padding: .5rem;
    font-size: 22px;
    text-align: center;
    color: #142b47;
    background-color: #e8ecf5;
}

.form_button{
    display: flex;
    justify-content: center;
    
}

.botao_busca {
    border-color: #3F72AF;
    background-color: #DBE2EF;
    border-radius: .5rem;
    border-width: 2px;
    margin-top: .25rem;
    padding: .5rem 5rem;
    font-size: 22px;
    color: #142b47;
    
}

/*  Grid  */

.grid_container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 20px;
    padding: 20px;
    background-color: #f8f9fa;
}

.grid_item {
    background-color: #ffffff;
    padding: 16px;
    border-radius: 10px;
    text-align: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.grid_item:hover{
    transform: translateY(-5px);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.foto_pet {       /*  principal para imagem caber dentro do grid */
    width: 100%;
    height: auto;
    border-radius: 8px;
    margin-bottom: 10px;
}

.descricao_pet {
    color: #333;
    text-decoration: none;
    font-weight: bold;
    display: block;
    margin: 10px 0;
}

.descricao_pet:hover {
    color: #007bff;
}


h3.descricao_pet {
    font-size: 1em;
    color: #667;
    margin: 0;
    font-weight: normal;
}