footer {
    background-color: var(--cor-cabecalho-rodape); 
    color: var(--cor-fonte-pagina); 
    padding: 20px; 
    text-align: center; 
}

.conteudo_rodape {
    max-width: 1200px;
    margin: auto;
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: relative;
    padding: 2rem 2rem;
}

.titulo_rodape {
    margin-bottom: 2.2rem;
    font-size: 1.2rem;
    color: var(--cor-fonte-pagina);
}

.rodape_lista p {
    margin-bottom: .55rem;
    color: var(--cor-fonte-pagina);
    font-size: 1rem;
}

.rodape_copy {
    padding: 1rem;
    color: var(--cor-fonte-pagina);
    font-size: 1.1rem;
}