footer {
    background-color: var(--barra-navegacao-rodape); 
    color: var(--cor-fonte-pagina); 
    padding: 20px; 
    text-align: center; 
}

.conteudo_rodape {
    max-width: 1200px;
    margin: auto;
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: relative;
    padding: 2rem 2rem;
}

.titulo_rodape {
    margin-bottom: 2.2rem;
    font-size: 1.2rem;
    color: var(--cor-fundo-pagina);
}

.rodape_lista p {
    margin-bottom: .55rem;
    color: var(--cor-fundo-pagina);
    font-size: 1rem;
}

.rodape_copy {
    padding: 1rem;
    color: var(--cor-fundo-pagina);
    font-size: 1.1rem;
}

@media screen and (max-width: 480px) {
    .conteudo_rodape {
        flex-direction: column;
    }
    
    .titulo_rodape {
        font-size: 1rem;
    }

    .rodape_lista p {
        font-size: 0.85rem; /* Ajusta ainda mais o tamanho da fonte */
    }

    .rodape_copy {
        font-size: 0.95rem;
    }
}