.sobre {
    background-color: var(--cor-fundo-pagina); 
    padding: 50px 20px 0 20px;
    text-align: center;
}

.titulo_marca {
    font-size: 2.5em;
    margin-bottom: 40px;
    color: var(--cabecalho-titulos);
    text-transform: uppercase;
    letter-spacing: 2px;
    
}

.container_sobre {
    display: flex;
    align-items: center;
    justify-content: space-around;
    gap: 40px;
    max-width: 1200px;
    margin: 0 auto;
    flex-wrap: wrap; 
    padding: 0 20px;
}

.div_texto {
    flex: 1 1 50%;
    max-width: 500px;
    text-align: left;
    font-size: 1.1em;
    line-height: 1.8;
    color: var(--texto-pricipal);
}

.div_texto h4 {
    font-size: 1.8em;
    color: var(--cabecalho-titulos);
    margin-bottom: 15px;
    font-weight: 900;
}


.div_banner {
    flex: 1 1 40%;
    display: flex;
    justify-content: center;
    max-width: 450px;
}

.img_banner {
    width: 100%;
    height: auto;
    border-radius: 12px;
    box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.4); 
    transition: transform 0.3s ease; 
}

.img_banner:hover {
    transform: scale(1.05); 
}

.redes_sociais {
    margin-top: 20px;
    display: flex;
    gap: 15px;
    justify-content: start;
}

.redes_sociais a img {
    width: 30px;
    height: 30px;
    transition: transform 0.3s ease;
}

.redes_sociais a img:hover {
    transform: scale(1.1);
}

.link_sobre {
    background-color: var(--elementos-destaque);
    border-radius: 50px;
    padding: 0.5rem 1rem;
    color: var(--texto-pricipal);
    text-decoration: none;
    box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.4);
    transition: transform 0.3s ease;
    color: white;
}

.link_sobre:hover {
    transform: scale(1.05);
}

@media screen and (max-width: 500px) {
    .sobre {
        padding: 1rem;
    }

    .container_sobre {
        padding: 0;
    }
    
    .titulo_marca {
        display: none;
    }

    .div_texto {
        font-size: 0.95em;
        line-height: 1.5rem;
    }

    .div_banner {
        display: none;
    }

    .img_banner { 
        display: none;
    }

    .redes_sociais a img {
        width: 25px; 
        height: 25px;
    }
}