.dicas {
    margin: auto;
    max-width: 1200px;
}

.container_dicas {
    margin: 3rem;
    display: flex;
    justify-content: space-between;
    gap: 20px;
    flex-wrap: wrap;
}

.titulo_dicas {
    font-size: 2rem;
    text-align: center;
}

.img-dicas {
    width: 70%;
    height: auto;
    transition: transform 0.3s ease; 
}

.img-dicas:hover {
    transform: scale(1.05); 
    cursor: pointer;
    box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.4);
}

.swiper {
    width: 48%;
    height: auto;
    max-width: 800px;
}

.swiper-slide {
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}

.swiper-button-next {
    color: var(--elementos-destaque);
}

.swiper-button-prev {
    color: var(--elementos-destaque);
}

@media screen and (max-width:480px) {
    .dicas {
        margin: 1rem;  
    }

    .container_dicas {
        margin: auto;  
    }

    .swiper {
        width: 100%;
    }

    .titulo_dicas {
        font-size: 1.5rem;  
    }

    .swiper {
        width: 100%;  /* O swiper ocupa toda a largura da tela */
    }

    .img-dicas {
        width: 100%;  /* As imagens ocupam toda a largura */
    }
}